
:root{
    --height:  94vh;
    --navbar-color: white;
    --MainFont: "Arial Rounded MT Bold";
    --SecFont: "Open Sans" "Light";
    --MainColor: rgb(242, 101, 34);
    --LargeText: 3vh;
    --MediumText: 2vh;
    --ReallyLarge: 5vh;
    --SuperDupperLarge: 10vh;
    --MoreSuperDupperLarge: 12vh;

    --SecondaryColor: white;
}
ul {
    list-style-type: none;
    margin: 10000;
    padding: 0;

  }
h1 {
    color: white;
    font-family: var(--MainFont);
    text-decoration: none;
}
p{
    color: white;
    font-family: var(--SecFont);
}
h2{
    color: white;
    font-family: var(--SecFont);

}
a {
    font-family: var(--MainFont);
    color: white !important;
    background-color: var(--MainColor);
    padding-left: 3vh;
    padding-right: 3vh;
    border-radius: 50%;
}
button{
    vertical-align: middle;
    color: var(--SecondaryColor);
    background-color: var(--MainColor);

} 
button:hover{
    vertical-align: middle;
    color:var(--MainColor);
    background-color: var(--SecondaryColor);
} 
 /*navigation bar login button  */
#LoginButton{
    transition: 0.5s;
}
#loginButton:hover span{
    color:var(--MainColor);

}
.SubButton{
    text-align: center;
    margin-right: 2vw;
    border: solid 1px;
    border-radius: 20px;
    padding: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: var(--LargeText);
    transition: 0.5s;
    width: 12vw;
}
.white{
    background-color: var(--SecondaryColor);
    border-color: var(--sec);
    transition: 0.5s;
    color: var(--MainColor);
}
.white:hover{
    background-color: var(--MainColor);
    color: var(--SecondaryColor);
    border-color: var(--SecondaryColor);
    transition: 0.5s;
}

#btn{
    height: 9vh;
    text-align: center;
    margin: auto;
    font-size: 4vh;
    color: white;
    background-color: var(--MainColor);
    border-color: var(--SecondaryColor);
    border: solid 1px;
    width: auto;
    padding-left: 2vw;
    padding-right: 2vw;

}
#navItem a:hover{
    color: var(--MainColor);
}
